.contact_container {
  max-width: 43.75rem; /* 1200px*0.0625 = 31.25rem */
  margin: 1.875rem auto; /* 38px*0.0625 = 23.375rem */
  background-color: rgb(31, 31, 31);
  border-radius: 50px;
}

.form {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.label {
  margin-top: 5px;
  margin-bottom: 2px;
  color: rgb(204, 204, 204);
  font-family: "Kode Mono", monospace;
}

.text-input,
.select {
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  background-color: whitesmoke;
}

.select option {
  font-family: "Kode Mono", monospace;
}

.button_submit {
  width: 50%;
  margin: 20px auto;
  padding: 5px;
  font-family: "Kode Mono", monospace;
  font-size: 1.125rem;
  font-weight: bold;
  border-style: none;
  border-radius: 30px;
  transition: 0.1s all ease;
  background-color: rgb(185, 185, 185);
}

.button_submit:hover {
  cursor: pointer;
  background-color: rgb(163, 163, 163);
}
.button_submit:focus {
  background-color: rgb(146, 146, 146);
}
.error-message {
  color: #fc8181;
}

.no-error-message {
  color: #60f874;
}
