.container {
  max-width: 500px;
  height: 500px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  width: inherit;
  text-align: center;
  line-height: 3;
}

.links {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
}

/* ANIMATION */

.slide-top {
  animation: slide-top 1s;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  10% {
    transform: translateY(0);
  }
}

.slide-bottom {
  animation: slide-bottom 1s;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
