.projects_container {
  max-width: 43.75rem; /* 1200px*0.0625 = 31.25rem */
  height: 31.25rem;
  margin: 4.375rem auto; /* 70px*0.0625 = 4.375rem */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.projects_title {
  width: auto;
  text-align: center;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1875rem;
  text-shadow: 0 0 10px grey;
  animation-name: project_title;
  animation-duration: 4s;
}

@keyframes project_title {
  0% {
    margin-top: 300px;
  }

  100% {
    margin-top: 20px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
  animation: grid_opacity;
  animation-duration: 4s;
}

@keyframes grid_opacity {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.grid-item {
  color: #9bf3b7;
  border-radius: 0.3125rem;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background: none;
  border: 2px solid;
}

.grid-item:hover,
.grid-item:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  color: #5eb87c;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #5eb87c;
  }
}
