.projects_container {
  max-width: 43.75rem; /* 1200px*0.0625 = 31.25rem */
  /* height: 31.25rem; */
  margin: 2.375rem auto; /* 38px*0.0625 = 23.375rem */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.projects_title {
  width: auto;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1875rem;
  text-shadow: 0 0 10px grey;
  animation-name: project_title;
  animation-duration: 4s;
}

@keyframes project_title {
  0% {
    margin-top: 300px;
  }

  100% {
    margin-top: 20px;
  }
}

.project_code a {
  color: rgb(190, 190, 188);
}

.project_link a {
  color: rgb(190, 190, 188);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 45px;
  padding: 10px;
  animation: grid_opacity;
  animation-duration: 4s;
}

@keyframes grid_opacity {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.grid-item {
  color: #9bf3b7;
  border-radius: 0.3125rem;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background: none;
  border: 2px solid;
  box-shadow: 0 0 7px grey;
}

.grid-item:hover,
.grid-item:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  color: whitesmoke;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #5eb87c;
  }
}

.project_name {
  font-size: 1.5625rem;
  font-family: "Kode Mono", monospace;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
